<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <h1>Express Personal Website (ABOUT PAGE)</h1>
    <h2>My favorite foods are:</h2>
    <ul>
        <% faveFoods.forEach((food)=>{ %> 
            <li><%= food %></li> 
        <% }) %> 
    </ul>
</body>
</html>